<%- include('./components/header') %>
  <h1>
    <%= name.toUpperCase() %>
  </h1>
  <p>hello,
    <%= user %>
  </p>
  <ul>
    <% for(var i=0; i<supplies.length; i++) {%>
      <li>
        <%= supplies[i] %>
      </li>
      <% } %>
  </ul>
<%- include('./components/footer') %>